@charset "utf-8";
body{
    background-color:#A52A2A ;
    padding: 20px;
}
#div1{
    background-color:#00C3FF;
    padding: 15px;
}
#div2{
    background-color:#FFC0CB ;
    padding: 5px;
    height: 800px;
}
.divAzul{
    background-color:#0084FF;
    padding: 20px;
    height: 670px;
}
.divSeparador{
    background-color:#0084FF;
    float: left;
    border-right: solid #A52A2A 5px;
    padding: 50px;
    height: 80%;
}
#seprador3{
    border-right: 0px;
}
.chiste{
    box-shadow: 5px 5px 2px black;
    padding: 10px;
    margin-bottom: 10px;
}