@charset "utf-8";
/* ELEMENTOS GENERALES*/
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
/* ELEMENTOS DE ELEMENTO*/
.elemento{
    min-width: 5.55%;
    max-width: 5.55%;
    width: 5.55%;
    float: left;
    height:10%;
    min-height: 10%;
    max-height: 10%;
}
.numeroAtomico{
    text-align: left;
    margin: 0px;
    font-size: 12px;
}
.simboloQuimico{
    text-align: center;
    font-size: 20px;
    margin: 5px;
}
.masaAtomica{
    text-align: center;
    margin: 0px;
    font-size: 11px;
}
.altanidosActinidos{
    text-align: center;
    font-size: 10.5px;
}
.asterisco1{
    text-align: right;
    font-size: 20px;
    margin: 5px;
    color: brown;
}
.asterisco2{
    text-align: right;
    font-size: 20px;
    margin: 5px;
    color:darkorange;
}
/* SEPARADORES */
#division1{
    min-width: 88.8%;
    width: 88.8%;
    float: left;
    height:10px;
    min-height: 10px;
}
.division1Sitios{
    min-width: 5.55%;
    height: 5.55%;
    float: left;
    height:60px;
    min-height: 60px;
}
.division2Sitios{
    min-width: 11.1%;
    height: 11.1%;
    float: left;
    height:10px;
    min-height: 10px;
}
.divison7Sitios{
    min-width: 33.3%;
    width: 33.3%;
    float: left;
    height:10px;
    min-height: 10px;
}
#separacionTotal{
    min-width: 100%;
    width: 100%;
    float: left;
    height:25px;
    min-height: 25px;
}
/* TIPOS DE ELEMENTOS */
.noMetales{
    background-color: grey;
}
.gasesNobles{
    background-color:mediumblue;
}
.metalesAlcalinos{
    background-color: yellow;
}
.alcalinoterreos{
    background-color: red;
}
.metaloides{
    background-color: green;
}
.halogenos{
    background-color: cyan;
}
.otrosMetales{
    background-color: darkgreen;
}
.metalesDeTransicion{
    background-color: darkslateblue;
}
.lactanidos{
    background-color:brown;
}
.actinidos{
    background-color: darkorange;
}
.desconocidos{
    background-color: darkturquoise;
}
.letrasOcultasActinidos{
    color:darkorange;
}
.letrasOcultasLactanidos{
    color: brown;
}